.contant{
  display: flex;
  flex-direction: column;
 
}
.control{
  display: flex;
  flex-direction: column;
  .Languages{
     
margin: 0 auto;
margin-top: 20px;
    margin-bottom:  20px;
  }
  &__languages{
    
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 
  &__Russian{
     
    background-image: url(./img/russia.jpg);
    height:120px;
    width: 250px;
    background-size:cover;
  }
  &__English{
    background-image: url(./img/English.jpg);
    height:120px;
    width: 250px;
    background-size:cover;
    margin: 0  10% 0  10%;
  }
  &__Ukrainian{
    background-image: url(./img/Ukrainian.jpg);
    height:120px;
    width: 250px;
    background-size:cover;
  }
  }

  &__gameDifficulty{
    margin-top: 10px;
    display: flex;
 
    justify-content: space-between;
     
  &__easy{
    margin-top: 10%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 .changetext1{
   width: 60%;
  word-wrap: break-word;
}
  
  }
  &__medium{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .changetext2{
      width: 50%;
     word-wrap: break-word;
   }
  }
  &__hard{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .changetext3{
       
        width: 60%;
       word-wrap: break-word;
  
    }
  }
}
}



   
 
body{
  margin:0;
  padding:0;
  display:flex;
 
  height: 100vh;
  justify-content:center;
}
 
.Matches{
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
&__match{
  display: flex;
  flex-direction: column;
 
&__top{
  
  
  
 
}
 

                  
&__bottom{
  margin-top: 50px;
   
  height: 300px;
  width: 100px;
  background-image: url(./img/matches.png);
  background-size: cover;
                    }
 
}}
@keyframes flame{
  0% {height:20px; width:20px;}
  50% {height:25px; width:25px;}
  100% {height:20px; width:20px;}
}

.flame1{
    
  margin-top:20px;
margin-left: 15px;
  position: absolute;
  width:50px;
  height:50px;
  background:linear-gradient(-45deg, red, orange);
  border-radius: 150px 150px 0px 150px;
  transform:rotate(-135deg);
  animation:.1s flame infinite;
  filter:blur(10px);
  
  box-shadow:17px 20px 90px #700;
  border:45px solid   red;
  border-left-width:25px;
  border-top-width:25px;
  
  &:after,
  &:before{
    content:'';
    width:10px;
    height:10px;
    display:block;
    position:absolute;
    background:linear-gradient(-45deg, red, orange);
    animation:.2s flame infinite;
    transform:scale(.8) rotate(20deg);
    border-radius: 100px 100px 0px 100px;
    top:20px;
  }
  &:before{
    top:0;
    animation-duration:.09s;
    transform:scale(.9) rotate(-15deg) translate(10px, 0px);
  }
}
.flame2{
    
  margin-top:20px;
margin-left: 15px;
  position: absolute;
  width:50px;
  height:50px;
  background:linear-gradient(-45deg, red, orange);
  border-radius: 150px 150px 0px 150px;
  transform:rotate(-135deg);
  animation:.1s flame infinite;
  filter:blur(10px);
  
  box-shadow:17px 20px 90px #700;
  border:45px solid   red;
  border-left-width:25px;
  border-top-width:25px;
  
  &:after,
  &:before{
    content:'';
    width:10px;
    height:10px;
    display:block;
    position:absolute;
    background:linear-gradient(-45deg, red, orange);
    animation:.2s flame infinite;
    transform:scale(.8) rotate(20deg);
    border-radius: 100px 100px 0px 100px;
    top:20px;
  }
  &:before{
    top:0;
    animation-duration:.09s;
    transform:scale(.9) rotate(-15deg) translate(10px, 0px);
  }
}
.flame3{
    
  margin-top:20px;
margin-left: 15px;
  position: absolute;
  width:50px;
  height:50px;
  background:linear-gradient(-45deg, red, orange);
  border-radius: 150px 150px 0px 150px;
  transform:rotate(-135deg);
  animation:.1s flame infinite;
  filter:blur(10px);
  
  box-shadow:17px 20px 90px #700;
  border:45px solid   red;
  border-left-width:25px;
  border-top-width:25px;
  
  &:after,
  &:before{
    content:'';
    width:10px;
    height:10px;
    display:block;
    position:absolute;
    background:linear-gradient(-45deg, red, orange);
    animation:.2s flame infinite;
    transform:scale(.8) rotate(20deg);
    border-radius: 100px 100px 0px 100px;
    top:20px;
  }
  &:before{
    top:0;
    animation-duration:.09s;
    transform:scale(.9) rotate(-15deg) translate(10px, 0px);
  }
}