$brick-color: #bd5858;
$brick-border-radius: 2px;
$brick-width: 8vw;
$brick-height:2vw;
$brick-space: 2px;
$brick-side-space: 4px;

.header {
  display: flex;
  justify-content: space-between;
 
&__left{
display: flex;
}
&__count{
  margin-top: 100px;
}
&__right{
  display: flex;
}
&__brick   {
  background: $brick-color;
  width: $brick-width;
  height: $brick-height;
  border-radius: $brick-border-radius;
  margin: $brick-space;
  box-shadow: 0 0 19px 1px darken($brick-color, 20%) inset;
}

}
 .SmallM {
  width:20px;  
  height:60px;
  background:url(./matches.png)  ;
  background-size: cover;
  
 margin-top: 200px;
}
.content{

  width: 100%;
display: flex;
justify-content: space-between;
}
 
.leftSide{
&__Navigation{
  &__One{
margin-left:10%;
  }
  &__Two{
    margin-left: 10%;
  }
  &__Three{
    margin-left:10%;
  }
}
}
.Matches{
  width:60px;
  height:200px;
  background:url(./matches.png)  ;
  background-size: contain;
  transform: rotate(90deg);
}
   
.glow-on-hover {
 
  display: flex;
justify-content: center;
align-items: center;
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

body { background-color: #111111; }
#div {
  padding: 40px;
  font-size: 75px;
  font-family: 'Monoton', cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
}
#div p { margin:0; }
#error:hover { text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; }
#code:hover { text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; }
#error {
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
#error span {
  animation: upper 11s linear infinite;
}
#code span:nth-of-type(1) {
  animation: lower 10s linear infinite;
}
#code span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}

